/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

.sidebar.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
  flex-direction: column;

}

header .image-text .name {
  margin-top: 2px;
  font-size: 30px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 50px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 78%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}

.mode .sun-moon i.sun {
  opacity: 0;
}

body.dark .mode .sun-moon i.sun {
  opacity: 1;
}

body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

.side-container {
  height: 100vh;
  background: #064d99;
  transition: 2s ease-in;
}


.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}

.home .text,
.textMsg {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 18px;
}

.sidebar.close~.home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}

body.dark .home .text {
  color: var(--text-color);
}

#qr-scan {
  height: 40px;
  position: absolute;
  right: 3%;
  top: 3%;
  cursor: pointer;
}

.result {
  position: absolute;
  z-index: 999;
  top: 27%;
  left: 25%;
  border-radius: 6px;
  border: 1px solid #CCCCCC;
  background-color: #f6f5ff;
}

/* Formatting result items */
.result p {
  margin: 0;
  width: 173px;
  padding: 7px 10px;
  border-bottom: 1px solid #CCCCCC;
  font-size: 17px;
  font-weight: 500;
  border-top: none;
  cursor: pointer;
  color: var(--text-color)
}

.result p:hover {
  background: #f2f2f2;
}



/* css for detailsTemplate.php  */


* {
  font-family: "Poppins", sans-serif;
}

.date {
  float: right;
  font-size: 30px;
  margin: 13px;
}

.center {
  margin-bottom: 20px;
}

.styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead th {
  background-color: #064d99;
  color: #ffffff;
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #064d99;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #064d99;
}

label {
  cursor: pointer;
}


label:hover {
  text-decoration: underline
}

.otp-btn {
  background-color: #064d99;
  font-size: 1.3rem;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 30px;
  width: 25%;
  margin-top: -10px;
  margin-bottom: -10px;
  cursor: pointer;
  box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
}

.elongate {
  width: 60%;
  margin-left: 15%;
  color: black;
  font-weight: 500;
}

.center a img {
  height: 100px;
  position: absolute;
  right: 15%;
}

.redBtn {
  background: #FF000d;
}

.greenBtn {
  background: #3af402;
}

.disable-btn {
  pointer-events: none;
  opacity: 0.5;
}


.otp-input {
  width: 30%;
  outline: none;
  border: none;
  border-radius: 22px;
  background-color: #f2f2f2;
  padding: 10px;
  margin-top: 11px;
  font-size: 16px;
  position: relative;
}

.txt-btn {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 15px;
}

.ok p {
  font-size: 20px;
  margin: 30px 0px;
  margin-left: 40px;
}

.ok #loader {
  display: block;
  margin: 6% 55%;
}

.green-badge1,
.green-badge2,
.green-badge3,
.green-badge4,
.green-badge5,
.green-badge6,
.green-badge7,
.green-badge8,
.green-badge9,
.green-badge10,
.red-badge1,
.red-badge2,
.red-badge3,
.red-badge4,
.red-badge5,
.red-badge6,
.red-badge7,
.red-badge8,
.red-badge9,
.red-badge10 {
  background: #3af402;
  display: none;
  color: black;
  padding: 4px 8px;
  width: 50%;
  position: relative;
  left: -35%;
  text-align: center;
  border-radius: 20px;
  transform: rotate(-20deg);
}

/* loader */
.loading {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  animation-name: loader-spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  /* left: 35%;
  top: -22%; */
  display: inline-block;
  vertical-align: top;
}

.loading,
.loading:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}

.success {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  transition: border opacity 500ms ease-out;
}

.success .status.draw:after {
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}

.success .status:after {
  opacity: 1;
  height: 2em;
  width: 1em;
  transform-origin: left top;
  border-right: 2px solid #5cb85c;
  border-top: 2px solid #5cb85c;
  content: '';
  left: 0.7em;
  top: 2em;
  position: absolute;
}

.failed {
  -webkit-animation: none;
  animation: none;
  border-color: #FF0000;
  transition: border opacity 500ms ease-out;
}

.failed .status {
  top: 50%;
  left: 50%;
  position: absolute;
}

.failed .status.draw:before,
.failed .status.draw:after {
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-name: crossmark;
}

.failed .status.draw:before {
  transform: scaleX(-1) rotate(45deg);
}

.failed .status.draw:after {
  transform: scaleX(-1) rotate(225deg);
}

.failed .status:before,
.failed .status:after {
  opacity: 1;
  height: 1.5em;
  width: 1.5em;
  transform-origin: left top;
  border-right: 2px solid #FF0000;
  border-top: 2px solid #FF0000;
  content: '';
  position: absolute;
}

.failed .status:before {
  left: 1.01em;
  top: -1.1em;
  /* Adjust this value */
}

.failed .status:after {
  left: -1.1em;
  top: 1.3em;
  /* Adjust this value */
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }

  20% {
    height: 0;
    width: 1em;
    opacity: 1;
  }

  40% {
    height: 2em;
    width: 1em;
    opacity: 1;
  }

  100% {
    height: 2em;
    width: 1em;
    opacity: 1;
  }
}

@keyframes crossmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }

  20% {
    height: 0;
    width: 1.5em;
    opacity: 1;
  }

  40% {
    height: 1.5em;
    width: 1.5em;
    opacity: 1;
  }

  100% {
    height: 1.5em;
    width: 1.5em;
    opacity: 1;
  }
}

/* progress bar */

#myProgress {
  width: 100%;
  background-color: #ddd;
  position: relative;
  z-index: 100;
  display: none;
}

#myBar {
  width: 0%;
  height: 8px;
  background-color: #04AA6D;
}


/* profile pic viewer */

.viewer {
  display: none;
  position: fixed;
  z-index: 100;
  /* padding-top: 60px; */
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);

}

@keyframes viewer {
  0% {
    transform: scale(0, 0);
  }

  50% {
    transform: scale(0.25, 0.25);
  }

  75% {
    transform: scale(0.5, 0.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

.viewer-content {
  margin: auto;
  padding: 6%;
  display: block;
  width: 80%;
  max-width: 80%;
  animation: viewer 0.5s ease-in;
}

.closebtn {
  position: absolute;
  top: 5%;
  right: 5%;
  color: whitesmoke;
  font-size: 80px;
  /* font-weight: bold; */
  transition: 0.2s;
}

.closebtn:hover,
.closebtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* dashBoard css */

.cont {
  text-align: center;
}


/* card css */

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

body {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--veryLightGray);
}

a {
  text-decoration: none;
}

.box p {
  color: var(--grayishBlue);
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;
}

#card-img {
  float: right;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

@media (max-width: 450px) {
  .box {
    height: 200px;
  }

  .card-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
    text-align: center;
    height: 180px;
  }

  .card-container {
    flex-wrap: wrap;
  }
}

.cyan {
  border-top: 3px solid var(--cyan);
}

.red {
  border-top: 3px solid var(--red);
}

.blue {
  border-top: 3px solid var(--blue);
}

.orange {
  border-top: 3px solid var(--orange);
}

h2 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
}



.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid red; */
  position: absolute;
  left: 20%;
  top: 20%;
  width: 75%;
}



.box {
  width: 20%;

}